.carousel-inner img {
    width: 100%;
    max-height: 350px;
}

.carousel-inner{
 height: 350px;
}
.navbar-xs { 
    min-height:28px; 
    height: 28px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75); 
    font-size: small;
}
.navbar-xs .navbar-brand{
     padding: 0px 12px;
     font-size: 16px;
     line-height: 28px;
     }
.navbar-xs .navbar-nav > li > a {
      padding-top: 0px;
       padding-bottom: 0px;
        line-height: 28px; 
    }
.fondogris {
    background-color: #F5F5F5;
}